<div class="col-12">
    <div class="row mt15">
        <div class="mx-auto foto-perfil br-50 bg-3"></div>
    </div>
    <div class="row mt-4">
        <div class="mx-auto fs-t3 f-es-m">
            asd
        </div>
    </div>
    <div class="row mt-1">
        <div class="mx-auto fs-m2 f-es-r">
            asd
        </div>
    </div>
    <div class="row mt-4">
        <div class="mx-auto text-center col-8 fs-m1 f-es-r">
            asd
        </div>
    </div>
    <div class="row mt-5">
        <div class="mx-auto">
            <button class="bt-default bg-3 fs-m2 f-es-m c-2 m-2" (click)='recusar()'>Recusar</button>
            <button class="bt-default bg-3 fs-m2 f-es-m c-2 m-2" (click)='contratar()'>Aceitar</button>
        </div>
    </div>
</div>