<form class="form col-9 mx-auto mt10">
    <div class="row">
      <h1 class='mx-auto {{ font }} f-es-m c-black'>Cadastro</h1>
    </div>
    <div class='row mt-5'>
      <input type="nome" name="nome" class="col-12 ipt-default fs-m2 f-es-m form-group" placeholder="Nome Completo">
    </div>
    <div class='row mt-2'>
      <input type="cpf" name="cpf" class="col-12 ipt-default fs-m2 f-es-m form-group" placeholder="CPF">
    </div>
    <div class='row mt-2'>
      <input type="email" name="email" class="col-12 ipt-default fs-m2 f-es-m form-group" placeholder="Email">
    </div>
    <div class='row mt-2'>
      <input type="senha" name="senha" class="col-12 ipt-default fs-m2 f-es-m form-group" placeholder="Senha">
    </div>
    <div class="row mt-5">
      <button class="bt-default bg-blue fs-m2 f-es-m c-white mx-auto">Entrar</button>
    </div>
</form>
<div class="col-9 d-flex justify-content-center mx-auto mt10">
  <a routerLink='/side/login' class=" text-center c-black-o fs-m1 f-es-m">Já possuo cadastro</a>
</div>