<div class="col-12 listagem">
    <div class="row col-12 mx-auto mt10 p-0">
        <div class="col-11">
            <input type="search" name="pesquisa" class="col-12 ipt-default fs-m2 f-es-m form-group" placeholder="Pesquisa">
        </div>
        <div class="col-1 m-0 p-0">
            <div class="mx-auto">
                <svg width="20" height="20" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <image xlink:href="/assets/svg/loupe.svg" x="0" y="0" height="100" width="100" />
                </svg>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>