<div class="bg-2 col-12 vh100 position-fixed">
  <div class="col-12 vh100 p-3">
    <form class="form col-9 mx-auto">
      <div class="row mt25">
        <div class="mx-auto">
          <svg width="60" height="60" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink">
            <image xlink:href="/assets/svg/loupe.svg" x="0" y="0" height="100" width="100" />
          </svg>
        </div>
      </div>
      <div class="row mt-5">
          <input type="search" name="pesquisa" class="col-12 ipt-default fs-m2 f-es-m form-group" placeholder="Procure">
      </div>
      <div class="row mt10">
        <button class="bt-default bg-3 fs-m2 f-es-m c-2 mx-auto">Pesquisar</button>
      </div>
    </form>
  </div>
</div>