<div *ngFor='let servico of servicos' class="col-12 p-0" [routerLink]="['/side/editar/servico/',servico.id]">
  <div class='row mt-3 mx-auto p-0'>
    <div class="servico col-9 vh10 bg-3 c-1 p-2 ml-3">
      <div class='col-12 ml-1'>
        <div class="row f-es-m fs-m1">
          {{ servico.titulo }}
        </div>
      </div>
      <div class='col-12 ml-1 '>
        <div class="row p-0">
          <div class="col-8 p-0 f-es-r fs-s2">
            {{ servico.data | date:'dd/MM/yy' | uppercase }}
          </div>
          <div class="col-4 p-0 f-es-m fs-s3">
            {{ servico.preco | currency:'BRL' }}
          </div>
        </div>
      </div>
    </div>
    <div class="excluir col-2 vh10 bg-2 ml-1 m-0 p-3" (click)='excluir(servico.id)'>
      <svg width="20" height="20" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <image xlink:href="/assets/svg/clear.svg" x="0" y="0" height="100" width="100" />
      </svg>
    </div>
  </div>
</div>
<div class="fixed-bottom col-12 d-flex flex-row-reverse p-4" routerLink='/side/cadastro/servico'>
  <div class='p-2'>
    <svg width="63" height="63" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <image xlink:href="/assets/svg/plus.svg" x="0" y="0" height="100" width="100" />
    </svg>
  </div>
</div>