/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/fonts.css';
@import './assets/colors/colors.css';
@import './assets/img/images.css';

a, a:hover{
    text-decoration: none;
    color: inherit;
}

/* Height */
.vh100{
    height: 100vh;
}

/* Margin */
.mt25{
    margin-top: 20vh;
}

/* Links */
.l-1{
    transition: color, 0.4s;
}
.l-1:hover{
    color: black;
}