/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/fonts.css';
@import './assets/colors/colors.css';
@import './assets/img/images.css';

a, a:hover{
    text-decoration: none;
    color: inherit;
}

/* Height */
.vh100{
    height: 100vh;
}
.vh10{
    height: 10vh;
}

/* Width */

.vw10{
    width: 10vh;
}

/* Margin */
.mt7{
    margin-top: 7.5vh;
}
.mt10{
    margin-top: 10vh;
}
.mt15{
    margin-top: 15vh;
}
.mt20{
    margin-top: 20vh;
}
.mt25{
    margin-top: 25vh;
}

/* Links */
.l-1{
    transition: color, 0.4s;
}
.l-1:hover{
    color: #051014;
}

/* Buttons */
button{
    border: none;
}
.bt-default{
    position: relative;
    border-radius: 2px;
    width: 90px;
    height: 50px;
    transition: background-color, 0.4s; 
}
.bt-default:hover{
    background-color: #58a5aa;
}

/* Inputs */
.ipt-default{
    height: 30px;
}
.txta-default{
    height: 60px;
}
.ipt-default, .txta-default{
    border: none;
    padding: 0px;
    border-radius: 0px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.40);
}

/* Border radius */

.br-50{
    border-radius: 50%;
}

