<div *ngFor='let oferta of ofertas' class="col-12">
  <div class='row mt-3 mx-auto'>
    <div class="oferta-oferente col-9 vh10 bg-1 c-2 p-0"> 
      <div class="row">
        <div class="col-3">

        </div>
        <div class="col-9">
          <div class="row">
            <div class='col-6'>{{ oferta.titulo }}</div>
            <div class="col-6">{{ oferta.servico.preco}}</div>
          </div>
          <div class="row">
            <div class='col-6'>{{ oferta.idUsuario }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="excluir col-2 vh10 bg-2 text-center ml-2 m-0 p-0">
      X
    </div>
  </div>  
</div> 