<div *ngFor='let oferta of ofertas' class="col-12">
  <div class='row mt-3 mx-auto' [routerLink]="['/side/editar/oferta/', oferta.id]">
    <div class="oferta-oferente col-9 vh10 bg-1 c-2 p-0"> 
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class='col-6'>{{ oferta.titulo }}</div>
            <div class="col-6">{{ oferta.servicos[0].preco | currency:"BRL" }}</div>
          </div>
          <div class="row">
            <div class='col-6'>{{ oferta.usuario }}</div>
          </div>
        </div>
      </div>
    </div>
    <div  class="excluir col-2 vh10 bg-2 text-center ml-2 m-0 p-0" (click)='excluir(oferta.id)'>
      X     
    </div>
  </div>  
</div>
<div class="fixed-bottom col-12 d-flex flex-row-reverse" routerLink='/side/cadastro/oferta'>
    <div class="mx-auto">
      <svg width="60" height="60" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <image xlink:href="/assets/svg/plus.svg" x="0" y="0" height="100" width="100" />
      </svg>
    </div>
</div> 